extends ../layouts/main.pug


block body
  h1 餐廳後台
  a(href='/admin/restaurants') Restaurants 
  | | 
  a(href='/admin/users') Users 
  | | 
  a(href='/admin/categories') Categories
  br
  br
  block table