extends ../layouts/main.pug


block body
  h1 餐廳後台
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(href='#') Restaurants
    li.nav-item
      a.nav-link(href='/admin/users') Users
  br
  a(href='/admin/restaurants/create')
    button.btn.btn-primary(type='button') New Restaurant
  br
  br
  table.table
    thead.thead-dark
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Category
        th(scope='col') #
    tbody
      each restaurant in restaurants
        tr
          th(scope='row') #{restaurant.id}
          td #{restaurant.name}
          td #{restaurant.Category.name}
          td
            button.btn.btn-link(type='button')
              a(href='/admin/restaurants/'+restaurant.id)
                | Show
            button.btn.btn-link(type='button')
              a(href='/admin/restaurants/'+restaurant.id+'/edit')
                | Edit
            form(action='/admin/restaurants/'+restaurant.id+'?_method=DELETE', method='POST', style='display: inline;')
              button.btn.btn-link(type='submit') Delete
