extends ./backstage.pug

block table
  table.table
    thead.thead-dark
      tr
        th(scope='col') #
        th(scope='col') Email
        th(scope='col') Administration
    tbody
      each user in users
        tr
          th(scope='row') #{user.id}
          td #{user.email}
          td
            if user.isAdmin 
              if user.email == currentUserEmail
                input(id ="administration"+user.id class="form-check-input" type='checkbox' checked disabled)
                label.form-check-label(for='administration'+user.id) administer
              else
                input(id ="administration"+user.id class="form-check-input" type='checkbox' checked
                      onclick=`$.post("/admin/users/${user.id}?_method=PUT",function( data ) {window.location.reload()})`)
                label.form-check-label(for='administration'+user.id) administer
            else
              input(id ="administration"+user.id class="form-check-input" type='checkbox' 
                    onclick=`$.post("/admin/users/${user.id}?_method=PUT",function( data ) {window.location.reload()})`)
              label.form-check-label(for='administration'+user.id) user