extends ./layouts/main.pug


block body
  .row
    .col-md-12
      h1 #{restaurant.name}
      p #{restaurant.Category.name}
    .col-md-4
      ul
        li
          |評論數:
          |  #{restaurant.Comments.length}
        li
          |瀏覽次數:
          |  #{restaurant.viewCount}
        li
          |收藏數:
          |  
  hr
  a(href='javascript:history.back()') 回上一頁
